
.hero-img {
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.hero-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72); /* Adjust opacity here (0.5 = 50% dark) */
    z-index: 1;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.hero-img h1 {
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
}